body{
    /* margin: 0; */
    display: block;
    /* place-items: center; */
}
h3.text1{
    margin: 0;
    padding: 0;
}
p.lines{
    padding: 0;

}
h3.name ,.name2{
    padding: 0;
    margin: 0;
}
p.names ,.names2{
    margin: 0;
    /* margin-top: 10px; */
    padding: 0;
}
p.style1{
    margin: 0;
    padding: 0;
}
h3.name3{
    margin: 0;
    padding: 0;
}
p.names3{
    margin: 0;
    padding: 0;
}